In [222]:
import numpy as np
import pandas as pd

In [223]:
#Query using df

df = pd.DataFrame({
                    'A':range(1,6),
                    'B':range(10,0,-2),
                    'C':range(10,15)   
})
df

   A   B   C
0  1  10  10
1  2   8  11
2  3   6  12
3  4   4  13
4  5   2  14

In [224]:
#Query the columns of a DataFrame with a boolean expression
df.query('A>B')
# this will return a df where element from column A > element from column B

   A  B   C
4  5  2  14

In [225]:
df.query('A<B')
#It will return rows where A is less than B

   A   B   C
0  1  10  10
1  2   8  11
2  3   6  12

In [226]:
df.query('A==3')

   A  B   C
2  3  6  12

In [227]:
#Without query how to fetch
df[df['A']==3]

   A  B   C
2  3  6  12

In [228]:
#fetch the value from column B where value of column A==3
df[df.A==3].B

2    6
Name: B, dtype: int64

In [229]:
df[df.A==3]['B']

2    6
Name: B, dtype: int64

In [230]:
df[df.A==3][['B']]

   B
2  6

In [231]:
df.query('A==3').B

2    6
Name: B, dtype: int64

In [232]:
#fetch columb B where A is 3
df.query('A==3')[['B']]

   B
2  6

In [233]:
#fetch B and C where A==3
df.query('A==3')[['B','C']]

   B   C
2  6  12

In [234]:
df[df.A==3][['B','C']]

   B   C
2  6  12

In [235]:
df

   A   B   C
0  1  10  10
1  2   8  11
2  3   6  12
3  4   4  13
4  5   2  14

In [236]:
# Supply multiple expression in query
df.query('A>3 and B<4')

   A  B   C
4  5  2  14

In [237]:
df.query('A>3 or B<4')

   A  B   C
3  4  4  13
4  5  2  14

In [238]:
#if we want to do the addition of any two columns.
df['A']+df['B']

0    11
1    10
2     9
3     8
4     7
dtype: int64

In [239]:
df.A+df.B

0    11
1    10
2     9
3     8
4     7
dtype: int64

In [240]:
pd.eval('df.A+df.B')

0    11
1    10
2     9
3     8
4     7
dtype: int64

In [241]:
df.eval('A+C')

0    11
1    13
2    15
3    17
4    19
dtype: int64

In [242]:
df.eval('A*B')

0    10
1    16
2    18
3    16
4    10
dtype: int64

# ---------Simple Data science Case study-------

In [243]:
df = pd.DataFrame({'name':['Ashwin','Virat','Dinesh','Rohit','Hardik','Ravindra','Shami','Rahul','Kuldeep','Rishabh','Pujara'],
                  'place':['Pune','Satara','Sangli','Solapur','Kolhapur','Pune','Satara','Sangli','Solapur','Pune','Satara'],
                  'age':[42,20,25,36,28,24,45,25,21,19,45]})
df

        name     place  age
0     Ashwin      Pune   42
1      Virat    Satara   20
2     Dinesh    Sangli   25
3      Rohit   Solapur   36
4     Hardik  Kolhapur   28
5   Ravindra      Pune   24
6      Shami    Satara   45
7      Rahul    Sangli   25
8    Kuldeep   Solapur   21
9    Rishabh      Pune   19
10    Pujara    Satara   45

In [244]:
#How many records are there?
#records means no. rows
df.shape[0]

11

In [245]:
# List out the names of players
df.name

0       Ashwin
1        Virat
2       Dinesh
3        Rohit
4       Hardik
5     Ravindra
6        Shami
7        Rahul
8      Kuldeep
9      Rishabh
10      Pujara
Name: name, dtype: object

In [246]:
#List out the names of columns
df.columns

Index(['name', 'place', 'age'], dtype='object')

In [247]:
# i want top 3 entries
#df.head(3)
df[:3]

     name   place  age
0  Ashwin    Pune   42
1   Virat  Satara   20
2  Dinesh  Sangli   25

In [248]:
# select random 5 names from series
df.name.sample(5)

3       Rohit
10     Pujara
8     Kuldeep
2      Dinesh
6       Shami
Name: name, dtype: object

In [249]:
df.name[[2,8,4,1,5]]

2      Dinesh
8     Kuldeep
4      Hardik
1       Virat
5    Ravindra
Name: name, dtype: object

In [250]:
df[['name']].loc[[2,8,4,1,5]]

       name
2    Dinesh
8   Kuldeep
4    Hardik
1     Virat
5  Ravindra

In [251]:
# i want last 3 entries
df.tail(3)

       name    place  age
8   Kuldeep  Solapur   21
9   Rishabh     Pune   19
10   Pujara   Satara   45

In [252]:
# I want record of an employee whose age is 42
df

        name     place  age
0     Ashwin      Pune   42
1      Virat    Satara   20
2     Dinesh    Sangli   25
3      Rohit   Solapur   36
4     Hardik  Kolhapur   28
5   Ravindra      Pune   24
6      Shami    Satara   45
7      Rahul    Sangli   25
8    Kuldeep   Solapur   21
9    Rishabh      Pune   19
10    Pujara    Satara   45

In [253]:
df.query('age==42').name

0    Ashwin
Name: name, dtype: object

In [254]:
df[df.age==42].name
#df[df.age==42]

0    Ashwin
Name: name, dtype: object

In [255]:
# i want name of an emp who is from Kolhapur 
df.query('place=="Kolhapur"').name

4    Hardik
Name: name, dtype: object

In [256]:
df[df.place == 'Kolhapur']

     name     place  age
4  Hardik  Kolhapur   28

In [257]:
# fetch record from Pune region with age < 30
df.query('age<30 and place=="Pune"')

       name place  age
5  Ravindra  Pune   24
9   Rishabh  Pune   19

In [258]:
#Count per place
#Return a Series containing counts of unique values.
df.place.value_counts()

Pune        3
Satara      3
Sangli      2
Solapur     2
Kolhapur    1
Name: place, dtype: int64

In [259]:
pl = pd.Series(['Pune','pune','PUNE','pune '])
pl

0     Pune
1     pune
2     PUNE
3    pune
dtype: object

In [260]:
pl.value_counts()

Pune     1
pune     1
PUNE     1
pune     1
dtype: int64

In [261]:
#solution for above problem???
new = pl.str.lower().str.strip()
new.value_counts()

pune    4
dtype: int64

In [262]:
new = pl.str.casefold().str.strip()
new.value_counts()

pune    4
dtype: int64

In [263]:
# List the unique cities/places
df.place.unique()

array(['Pune', 'Satara', 'Sangli', 'Solapur', 'Kolhapur'], dtype=object)

In [264]:
#Count the unique places
df.place.nunique()

5

In [265]:
#fetch records for Place Pune
df[df.place=='Pune']
#df.query('place=="Pune"')

       name place  age
0    Ashwin  Pune   42
5  Ravindra  Pune   24
9   Rishabh  Pune   19

In [266]:
#fetch name of emp. whose age is min
df.age.min()

19

In [267]:
df[df.age==19]

      name place  age
9  Rishabh  Pune   19

In [268]:
df.query('age == 19')

      name place  age
9  Rishabh  Pune   19

In [269]:
df[df.age == df.age.min()]

      name place  age
9  Rishabh  Pune   19

In [270]:
#fetch such records whose name length is>5
df[df.name.str.len() > 5]

        name     place  age
0     Ashwin      Pune   42
2     Dinesh    Sangli   25
4     Hardik  Kolhapur   28
5   Ravindra      Pune   24
8    Kuldeep   Solapur   21
9    Rishabh      Pune   19
10    Pujara    Satara   45

In [271]:
#fetch the record whose name starts with 'M'
df[df.name.str.startswith('M')]

Empty DataFrame
Columns: [name, place, age]
Index: []

In [272]:
#fetch the record whose name starts with 'A'
df[df.name.str.startswith('A')]

     name place  age
0  Ashwin  Pune   42

In [273]:
# fetch the name and place whose age is divisible by 4
df[df.age%4 == 0]

       name     place  age
1     Virat    Satara   20
3     Rohit   Solapur   36
4    Hardik  Kolhapur   28
5  Ravindra      Pune   24

In [274]:
# fetch the name and place whose age is divisible by 2
df[df.age%2 == 0]

       name     place  age
0    Ashwin      Pune   42
1     Virat    Satara   20
3     Rohit   Solapur   36
4    Hardik  Kolhapur   28
5  Ravindra      Pune   24

In [275]:
#convert places into int ex. Pune=12 Satara=11 likewise
df.place.str.len()

0     4
1     6
2     6
3     7
4     8
5     4
6     6
7     6
8     7
9     4
10    6
Name: place, dtype: int64

In [276]:
# I want the records of emp whose age is greater than 30
df[df.age >30]

      name    place  age
0   Ashwin     Pune   42
3    Rohit  Solapur   36
6    Shami   Satara   45
10  Pujara   Satara   45

In [277]:
# I want the emp whose name starts with A
df[df.name.str.startswith('A')]

     name place  age
0  Ashwin  Pune   42

In [278]:
# i want the place of an emp whose name endswith a
df[df.name.str.endswith('a')]

        name   place  age
5   Ravindra    Pune   24
10    Pujara  Satara   45

In [279]:
# what is age of Rishabh
df[df.name=='Rishabh'][['name','age']]

      name  age
9  Rishabh   19

In [280]:
# who is from place Satara
df[df.place == 'Satara']

      name   place  age
1    Virat  Satara   20
6    Shami  Satara   45
10  Pujara  Satara   45

In [281]:
# i want record of emp whose age less than  or equal to 25
df[df.age <=25]

       name    place  age
1     Virat   Satara   20
2    Dinesh   Sangli   25
5  Ravindra     Pune   24
7     Rahul   Sangli   25
8   Kuldeep  Solapur   21
9   Rishabh     Pune   19

In [282]:
# list out the name and age of emp from Sangli location
df[df.place == 'Sangli'][['name','age','place']]

     name  age   place
2  Dinesh   25  Sangli
7   Rahul   25  Sangli

In [283]:
# add a column with designation 
df['designation'] = np.nan
df

        name     place  age  designation
0     Ashwin      Pune   42          NaN
1      Virat    Satara   20          NaN
2     Dinesh    Sangli   25          NaN
3      Rohit   Solapur   36          NaN
4     Hardik  Kolhapur   28          NaN
5   Ravindra      Pune   24          NaN
6      Shami    Satara   45          NaN
7      Rahul    Sangli   25          NaN
8    Kuldeep   Solapur   21          NaN
9    Rishabh      Pune   19          NaN
10    Pujara    Satara   45          NaN

In [285]:
df.at[7,'designation'] = 'Hr'
df

        name     place  age designation
0     Ashwin      Pune   42         NaN
1      Virat    Satara   20         NaN
2     Dinesh    Sangli   25         NaN
3      Rohit   Solapur   36         NaN
4     Hardik  Kolhapur   28         NaN
5   Ravindra      Pune   24         NaN
6      Shami    Satara   45         NaN
7      Rahul    Sangli   25          Hr
8    Kuldeep   Solapur   21         NaN
9    Rishabh      Pune   19         NaN
10    Pujara    Satara   45         NaN

In [287]:
df.loc[0:3,['designation']] = ['Manager']
df

        name     place  age designation
0     Ashwin      Pune   42     Manager
1      Virat    Satara   20     Manager
2     Dinesh    Sangli   25     Manager
3      Rohit   Solapur   36     Manager
4     Hardik  Kolhapur   28         NaN
5   Ravindra      Pune   24         NaN
6      Shami    Satara   45         NaN
7      Rahul    Sangli   25          Hr
8    Kuldeep   Solapur   21         NaN
9    Rishabh      Pune   19         NaN
10    Pujara    Satara   45         NaN

In [289]:
#find out is there any duplicate entry?
df[df.duplicated()]

Empty DataFrame
Columns: [name, place, age, designation]
Index: []

In [290]:
# find out the count of null/NaN values
df.isna().sum()

name           0
place          0
age            0
designation    6
dtype: int64

In [292]:
# what is the age of Virat?
df[df.name=='Virat'].age

1    20
Name: age, dtype: int64